html
{
    scroll-behavior: smooth;
}

body {
    padding: 0;
    background-color: gray;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100%;
    background-color: black;
    font-family: 'Lato, sans-serif';
    color: white;
    margin: 0;
    padding: 0;

}
a:link
{
text-decoration:none;
color:white;
}
a:visited
{
    text-decoration:none;
    color:white;
}
header
{   
    top:0;
    left:0;
    width:100%;
    height:40px;
    padding-top:25px;
    padding-bottom:25px;
    font-weight:bold;
    border-radius:3px;
    z-index:1;
}
#logo
{
    font-size:40px;
    float: left;
    text-align:center;
    margin-left:40px;
    padding-left:70px;
    width:15%;
    text-decoration:underline solid #cc0066 2px;

}

.option
{
    min-width:75px;
    height:30px;
    background-color: transparent;
}

header nav
{    
    float:right; 
}
header nav ul
{
    text-decoration: none;
    margin:0;
    padding:0;
    display:flex;
}   
header nav ul li 
{
    margin-right:20px;
    margin-top:10px;
    border-style:solid;
    border-color:#cc0066;
    border-radius:10px;
    border-width:2px;
    min-width:75px;
    font-size:15px;
    list-style:none;
    display: flex;
    justify-content: center;
    align-items:center;
    text-decoration:none;
    text-decoration-color:none;
    height:30px;
    line-height: 50px;
    background-color:transparent;
    overflow: hidden;
    
}

header nav ul li:hover 
{   
    text-decoration:underline solid #cc0066 2px;
}

nav:hover
{
    border-color:transparent
}
#content
{
    width:100%;
    min-height:80%;
}
#mainc
{
    margin-top:30px;
    min-width: 100%;
    font-weight: bold;
    float:left;

}

#maintext
{
    font-size:60px;
    float:left;
    padding-right:60%;
    margin-left:10%;
    margin-top:30px;
}

button
{   
    float:left;
    padding:10px;
    display: flex;
    justify-content: center;
    align-items:center;
    font-size:20px;
    width: 15%;
    margin-left:10%;
    margin-top:50px;
    text-align:center; 
    height:40px;
    border-width:2px;
    border-style:solid;
    border-color: #cc0066;  
    border-radius:10px;
    background-color:transparent;   
    overflow:hidden;
    position:relative;
    color:white;
    font-family:'Lato, sans-serif';
}

button:hover
{
    border:transparent;
}

#container
{
    width:100%;
    margin-top:20px;
    float:left;
    height:30%;
    margin-bottom:40px;
}


.box {
    float: left;
    background-color: #000800;
    min-width: 20%;
    padding: 20px;
    width: 20%;
    min-height: 120px;
    margin-left: 7%;
    margin-top: 20px;
    border-color: #6e6c68;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
}
.boxtitle
{
    display: flex;
    justify-content: center;
    align-items:center;
    font-weight: bold;
    font-size:20px;
}

.boxcontent
{   margin-left:10px;   
    margin-top:10px;
    color:gray;
    text-align:left;
}

.box:hover
{
    border-color: #cc0066;
    border-width: 2px;
    border-style:solid;
}



#footercontent {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    bottom: 0;
    color: white;
    height: 40px;
    width: 100%;
    background-color: black;
    position: fixed;
}

.lowerinfo {
    display: inline-block;
    padding: 30px;
    width: 100%;
    color: #6e6c68;
    font-size: 30px;
}

.upperinfo {
    display: inline-block;
    padding: 30px;
    width:100%;
    font-size:35px;

}



#form1 {
    margin-top:50px;
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

.container1 {
    width: 100%;
    margin:10px;
    min-height: 160px;
    border-color: #cc0066;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    margin: 5px;
    padding: 8px;
    display: flex;
    align-items: center;

}
.label
{
    color:white;
    padding:10px;
}

.carImage{
    width:500px;
    height:500px;
}

#maincontainer {
    display: flex;
    align-items: center;
}

#container2 {
    display: inline-block;
    padding:15px;

}
#container3 {
    font-size: 60px;
    padding: 15px;
}

#container4 {
    display: inline-block;
    font-size: 40px;
    color: #6e6c68;
    padding: 15px;
}

#container5 {
    display: inline-block;
    padding: 15px;
}

#container6 {
    display: inline-block;
    padding: 15px;
}

.rentcontainer {
    font-size:25px;
    width: 100%;
    margin: 10px;
    min-height: 160px;
    border-color: #cc0066;
    border-width: 2px;
    border-style: solid;
    border-radius: 25px;
    padding: 8px;
    display: flex;
    justify-content: center;
    align-items:center;
    text-align:center;
}

#txtb{
    color:black;
}
